@import url(./normalize.css);

body {
  padding: 0;
  background-color: #111;
  color: #fff;
  width: 100vw;
}
.header__cv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__cv-title {
  font-size: 72px;
  font-family:
    Archivo Black,
    sans-serif;
  width: 793px;
  height: 156px;
}
.header__cv-subtitle {
  font-size: 18px;
  font-family:
    Open Sans,
    sans-serif;
  width: 790px;
  height: 25px;
}
.header__cv-circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  left: -5%;
  bottom: 20%;
  background: radial-gradient(circle, #6d6dff 0%, transparent 70%);
  position: absolute;
  z-index: -1;
}
.header__cv-foto {
  width: 387px;
  height: 500px;
  margin-left: 120px;
}
.header__cv-t9ext {
  display: flex;
}
.header__cv-nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  width: calc(100% - 240px);
}
.header__cv-nav-link {
  color: #6d6dff;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
}
.header__cv-nav-link:hover {
  color: #fff;
  background-color: #6d6dff;
  border-radius: 5px;
}
.header__cv-skills {
  display: flex;
  gap: 180px;
  margin-left: 120px;
  margin-right: 120px;
}
